@media (max-width: 375px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        height: 735px;
    }

    .top {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 33px;
        padding: 239px 0;
        &__title {
            color: #fff;
            text-align: center;
            font-size: 32px;
            font-weight: 700;
        }

        &__text {
            width: 343px;
            color: #fff;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px; /* 157.143% */

            &--mod {
                color: #fff;
                font-size: 14px;
                font-weight: 700;
                line-height: 22px;
            }
        }
    }

    .container {
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 33px;
        &__item {
            width: 343px;
        }
    }

    .season {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 64px;
        padding: 51px 0 85px;
    }

    .left {
        width: 343px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            display: none;
            &--mobi {
                display: flex;
                color: rgb(255, 255, 255);
                font-size: 32px;
                font-weight: 700;
                line-height: 39px;
            }
        }

        &__text {
            text-align: center;
        }
    }

    svg {
        width: 343px;
    }

    .words {
        display: flex;
        flex-direction: column-reverse;
        gap: 64px;
        padding: 51px 0 90px;
    }

    .right-content {
        display: flex;
        align-items: center;

        &__title {
            display: flex;
            color: rgb(255, 255, 255);
            font-size: 32px;
            font-weight: 700;
            line-height: 39px;
        }

        &__text {
            color: rgb(255, 255, 255);
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            text-align: center;
        }
    }

    .puzzle {
        padding: 51px 16px 0;
    }

    .game {
        // padding-top: 51px;
        &__title {
            font-size: 32px;
            line-height: 39px;
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
        }
    }
}
