*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #000915;
}

.center {
    padding-left: calc(50% - 591px);
    padding-right: calc(50% - 591px);
}

.header {
    background-image: url(./img/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1024px;
}

.top {
    padding: 217px 0;
}

.top__title {
    color: #fff;
    font-size: 64px;
    font-weight: 700;
}

.top__text {
    width: 481px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    margin: 32px 0 44px;

    &--mod {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
    }
}

.top__button {
    width: 234px;
    height: 48px;
    border-radius: 30px;
    background: #9c0332;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    border: none;

    &:hover {
        background: #eb443f;
        cursor: pointer;
    }
}

.container {
    // padding: 128px 0;
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    gap: 32px;

    &__item {
        height: 300px;
        width: 379px;

        &--img {
            width: 100%;
            &:hover {
                cursor: pointer;
                border-radius: 16px;
                border: 3px solid #44d2ff;
                background:
                    linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%),
                    lightgray 50% / cover no-repeat;
            }
        }
    }

    &__link {
        position: relative;
    }
}

.item {
    position: absolute;
    bottom: 32px;
    left: 32px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.season {
    display: flex;
    gap: 135px;
    padding-top: 233px;
    padding-bottom: 233px;
    // padding: 233px 0;
}

.left {
    width: 584px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    &__title {
        color: rgb(255, 255, 255);
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        &--mobi {
            display: none;
        }
    }

    &__text {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
    }

    &__button {
        width: 234px;
        height: 48px;
        border: none;
        border-radius: 30px;
        background: rgb(156, 3, 50);
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;

        &:hover {
            cursor: pointer;
            background-color: rgb(235, 68, 63);
        }
    }
}

.words {
    display: flex;
    gap: 135px;
    align-items: center;
    padding-top: 239px;
    padding-bottom: 239px;
    // padding: 239px 0;
}

.right-content {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__text {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
    }
}

.puzzle {
    padding: 276px 120px 0;
    background-image: url(./img/unsplash_iO0I6-mhDEY.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    // padding-top: 276px;

    &__title {
        color: rgb(255, 255, 255);
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
    }
    &__text {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
        text-align: center;
    }
    &__button {
        border-radius: 30px;
        background: rgb(156, 3, 50);
        border: none;
        width: 234px;
        height: 48px;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;

        &:hover {
            cursor: pointer;
            background-color: rgb(235, 68, 63);
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    margin: 32.5px 0;
    &__text {
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }
}

@import "mobile";
