*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #000915;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    background-image: url(./img/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1024px;
}

.top {
    padding: 217px 0;
    &__title {
        color: #fff;
        font-size: 64px;
        font-weight: 700;
    }
    &__text {
        width: 481px;
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
        margin: 32px 0 44px;

        &--mod {
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            line-height: 32px;
        }
    }
    &__button {
        width: 234px;
        height: 48px;
        border-radius: 30px;
        background: #9c0332;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        border: none;
        &:hover {
            background: #eb443f;
            cursor: pointer;
        }
    }
}

.container {
    padding: 128px 0;
    display: flex;
    gap: 32px;

    &__item {
        height: 300px;
        width: 379px;

        &--img {
            width: 100%;
            &:hover {
                cursor: pointer;
                border-radius: 16px;
                border: 3px solid #44d2ff;
                background:
                    linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%),
                    lightgray 50% / cover no-repeat;
            }
        }
    }

    &__link {
        position: relative;
    }
}

.item {
    position: absolute;
    bottom: 32px;
    left: 32px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.season {
    display: flex;
    gap: 135px;
    padding: 233px 0;
}

.left {
    width: 584px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    &__title {
        color: rgb(255, 255, 255);
        font-size: 48px;
        font-weight: 700;
        line-height: 59px;
        &--mobi {
            display: none;
        }
    }

    &__text {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
    }

    &__button {
        width: 234px;
        height: 48px;
        border: none;
        border-radius: 30px;
        background: rgb(156, 3, 50);
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;

        &:hover {
            cursor: pointer;
            background-color: rgb(235, 68, 63);
        }
    }
}

.words {
    display: flex;
    gap: 135px;
    align-items: center;
    padding: 239px 0;
}

.right-content {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__text {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
    }
}

@import "mobile";
