*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #000915;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  background-image: url(./img/Rectangle\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1024px;
}

.top {
  padding: 217px 0;
}
.top__title {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
}
.top__text {
  width: 481px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  margin: 32px 0 44px;
}
.top__text--mod {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}
.top__button {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9c0332;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  border: none;
}
.top__button:hover {
  background: #eb443f;
  cursor: pointer;
}

.container {
  padding: 128px 0;
  display: flex;
  gap: 32px;
}
.container__item {
  height: 300px;
  width: 379px;
}
.container__item--img {
  width: 100%;
}
.container__item--img:hover {
  cursor: pointer;
  border-radius: 16px;
  border: 3px solid #44d2ff;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), lightgray 50%/cover no-repeat;
}
.container__link {
  position: relative;
}

.item {
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.season {
  display: flex;
  gap: 135px;
  padding: 233px 0;
}

.left {
  width: 584px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.left__title {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
}
.left__title--mobi {
  display: none;
}
.left__text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}
.left__button {
  width: 234px;
  height: 48px;
  border: none;
  border-radius: 30px;
  background: rgb(156, 3, 50);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.left__button:hover {
  cursor: pointer;
  background-color: rgb(235, 68, 63);
}

.words {
  display: flex;
  gap: 135px;
  align-items: center;
  padding: 239px 0;
}

.right-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.right-content__text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}

@media (max-width: 375px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 735px;
  }
  .top {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 33px;
    padding: 239px 0;
  }
  .top__title {
    color: #fff;
    text-align: center;
    font-size: 32px;
  }
  .top__text {
    width: 343px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
  }
  .top__text--mod {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
  }
  .container {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 33px;
  }
  .container__item {
    width: 343px;
  }
  .season {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 51px 0 85px;
  }
  .left {
    width: 343px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left__title {
    display: none;
  }
  .left__title--mobi {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
  }
  .left__text {
    text-align: center;
  }
  svg {
    width: 343px;
  }
  .words {
    display: flex;
    flex-direction: column-reverse;
    gap: 64px;
    padding: 51px 0 90px;
  }
  .right-content {
    display: flex;
    align-items: center;
  }
  .right-content__title {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
  }
  .right-content__text {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */